<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" requireReinstallation="true" />
  <package id="HtmlAgilityPack" version="1.6.4" requireReinstallation="true" />
  <package id="log4net" version="2.0.8" requireReinstallation="true" />
  <package id="Unity" version="5.2.1" requireReinstallation="true" />
</packages>